<section class="form-section">
  <div class="text">
    <h3>Fique por dentro das pendências!</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, delectus
      perferendis ea repellendus dolor ad ullam similique maxime libero aut
      quaerat, iusto provident optio aspernatur porro architecto soluta sequi
      atque.
    </p>
  </div>
  <form [formGroup]="newsletterForm">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" />
    <label for="email">Email</label>
    <input id="email" formControlName="email" />
    <btn-primary
      btn-text="Se inscreva!"
      variant="secondary"
      (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid"
      [loading]="loading()"
    ></btn-primary>
  </form>
</section>
