<section class="form-section">
  <div class="text">
    <h3>Fique por dentro das pendências!</h3>
    <p>
      Se você quiser o básico ou o mais barato, por favor, contrate você mesmo.
      Mas tenha consciência de que atrairá funcionários desqualificados e sem
      garantias. “O barato sai caro!” <br />
      <br />
      Mas se quiser o trabalho de uma empresa séria no setor de RH com 18 anos
      de experiência nas principais empresas nacionais e multinacionais do
      Brasil, envie seu contato agora e falaremos com você:
    </p>
  </div>
  <form [formGroup]="newsletterForm">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" />
    <label for="email">Email</label>
    <input id="email" formControlName="email" />
    <btn-primary
      btn-text="Se inscreva!"
      variant="secondary"
      (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid"
      [loading]="loading()"
    ></btn-primary>
  </form>
</section>
