<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span class="text-span">Decisão Brasil</span>
      <h1>
        COM A DECISÃO BRASIL, VOCÊ NUNCA MAIS VAI ERRAR NA HORA DE CONTRATAR UM
        FUNCIONÁRIO.
      </h1>
    </div>
    <img ngSrc="./assets/foto-rh.png" width="600" height="400" />
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>95% <br />das empresas</h2>
    </div>
    <p>
      A Decisão Brasil é a marca número 1 em Recursos Humanos com
      <b>velocidade</b> e <b>eficácia</b>.
    </p>
  </section>
  <section class="cta-section">
    <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
  </section>
  <newsletter-form></newsletter-form>
  <section class="benefit-section">
    <benefit-card
      card-title="Equipe capacitada"
      img-path="./assets/foto0.webp"
      card-description="Você terá colaboradores que sabem se comunicar bem, que evitam brigas e rixas ou que estão pouco interessados nas atividades do trabalho. Você terá dentro da sua empresa profissionais maduros que afastam aborrecimentos e dores de cabeça."
    ></benefit-card>
    <benefit-card
      card-title="Seus projetos guiados do zero"
      img-path="./assets/foto02.webp"
      card-description="Com a nossa metodologia, você terá uma estratégia eficaz com etapas e processos que vão impulsionar sua carreira para o cargo dos seus sonhos. Nós já devolvemos ao mercado de trabalho muitos profissionais que estavam sem esperança de voltar a atuar. Você pode ser o próximo!"
    ></benefit-card>
  </section>
  <section class="cta-section pad-70">
    <h2>
      Quer elevar seu seu software e seus<br />
      negócios para outro nível
    </h2>
    <btn-primary
      btn-text="Fale com nossos especialistas"
      style="margin-top: 10px"
    ></btn-primary>
  </section>
  <app-footer></app-footer>
</main>
