<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span class="text-span">Decisão Brasil</span>
            <h1> COM A DECISÃO BRASIL, VOCÊ NUNCA MAIS VAI ERRAR NA HORA DE CONTRATAR UM FUNCIONÁRIO.</h1>
            </div>
        <img ngSrc="./assets/foto-rh.png" width="600" height="400">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>95% <br>das empresas</h2>
        </div> 
        <p>A Decisão Brasil é a marca número 1 em Recursos Humanos com <b>velocidade</b> e <b>eficácia</b>.</p>
    </section>
</main>